<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
	
	<h2>CATEGORIES</h2>

	<ul class="catergories text-center list-inline">
	  <li><a href="#"><span class="fa fa-users fa-5x"></span><br>SOCIAL</a></li>
		<li><a href="#"><span class="fa fa-book fa-5x"></span><br>PASTIME</a></li>
		<li><a href="#"><span class="fa fa-fire fa-5x"></span><br>ADVENTURE</a></li>
  </ul>

	<h2>BE INSPIRED</h2>

  <div class="thumbnail">
    <!-- <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=500%C3%97500&w=500&h=500" alt="..."> -->
    <div class="caption">
      <h3>Stretch</h3>
      <p>Lorem ipsum dolor sit amet, id agam atqui ius, an per commodo verterem. No postulant intellegat sit, case mandamus et pro, est ea causae aliquid. At quod mentitum patrioque qui, dicunt bonorum interesset eos ex. Vis primis docendi evertitur ei.
</p>
      <p>
      	<a href="#" class="btn btn-primary" role="button">RANDOMISE</a> 
      	<a href="#" class="btn btn-default" role="button">TRY IT</a>
      </p>
    </div>
  </div>
</div>