<div class="jumbotron text-center">
  <h1><span class="fa fa-expand">stretch</span></h1>
  <p>make positive learning experiences</p>
  <p>
		<a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
		<a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
  </p>
</div>