<div class="jumbotron text-center img-responsive">
  <h1><span class="fa fa-expand">stretch</span></h1>
  <p>make positive learning experiences</p>
  <p>
		<a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
		<a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
  </p>
</div>

<div class="container">
	<div class="row">
		
		<div class="col-sm-6 col-md-4">
			<h2>challenge</h2>
			<p>Do small things that stretches your comfort zone.</p>
		</div>

		<div class="col-sm-6 col-md-4">
			<h2>record</h2>
			<p>Write a post and keep track of what you have learnt from doing the challenges.</p>
		</div>

		<div class="col-sm-6 col-md-4">
			<h2>inspire</h2>
			<p>View other people's posts, and try the stretches that they have done.</p>
		</div>
	
	</div>
</div>

<footer>
	By Kylie Sy: <a href="https://github.com/kksy/Project2-Stretch">project on github</a><br>
	photo from <a href="http://deathtothestockphoto.com/">Death to the Stock Photo</a>

</footer>