<h2>WRITE A POST</h2>

<form action="/user/entries/post/<%= @entry_id %>" method="post" enctype="multipart/form-data">

	<div class="form-group">
		<input type="hidden" name="_method" value="put">
		<label>Entry post for "<%= @stretch_name.task %>"</label>
		<span class="date-created"><%= @entry.date_created %></span>
  	<textarea name="post" class="form-control" placeholder="Write a short entry of what you did, and how it has improved you"><%= @entry.post %></textarea>
  	<span id="helpBlock" class="help-block">max 500 chars.</span>
		<label>Choose image</label>
		<input type="file" name="entry_img">
		<span id="helpBlock" class="help-block">size: 500px x 500px, default image will be displayed if no image uploaded</span>
	</div>
 
  <button type="submit" class="btn btn-default btn-block">add post</button>

</form>