* {
	box-sizing: border-box;
}

.heading {
  margin-top: 50px;
}

a:hover {
	text-decoration: none;
}

.stretches {
 overflow: auto;
 margin: 10px 0;
}

.rand-h4 {
  margin-bottom: 0;
}

.created-by {
  color: grey;
  font-size: 12px;
  font-style: italic;
}

