* {
	box-sizing: border-box;
}

.heading {
  margin-top: 50px;
}

a:hover {
	text-decoration: none;
}

.stretches {
 overflow: auto;
 margin: 10px 0;
}

.rand-h4 {
  margin-bottom: 0;
}

.created-by {
  color: grey;
  font-size: 12px;
  font-style: italic;
}

/* bootstrap override */
.jumbotron h1 {
  font-size: 60px;
}

/* masonry css */
.grid-sizer, .grid-item { 
  width: 50%; 
}

/* media queries */

/* for masonry */
@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer, .grid-item { width: 33.33333%; }
}
